* {
    color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: linear-gradient(#222, #333);
     background-repeat: no-repeat;
    background-attachment: fixed; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 95vh;
    width: 95vw;
}

input {
    background: #222;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in;
    padding: 5px 15px;
    margin: 5px;
    outline: none;
}

input:focus, input:hover {
    background: rgb(0, 0, 0);
}


#titulo {
    grid-column: 1 / 6;
    grid-row: 2;
}

button {
    background: #111815;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in;
    padding: 5px 15px;
    margin: 5px
}


#entradas {
    grid-row: 3;
    grid-column: 2 / 5;

}

#boton {
    grid-row: 4;
    grid-column: 2 / 5;
}

.botones_navegacion {
    background: #252525;
}
#resultado {
    color: #b1ffb1;
}
#resultado2{
    color: #89ff6c;

}
.container {
  width: 90%;   /* se adapta al ancho */
  padding: 2em; /* relativo al texto */
}
