* {
    color:#eee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background: #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 95vh;
    width: 95vw;
}

input {
    background: #252525;
    transition: all .3s ease-in;
    border: none;
}

button {
    background: #252525;
    width: 150px;
    height: 100px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in;
}

button:hover, input:hover {
    background-color: #22a;
}

#titulo {
    grid-row: 2;
    grid-column: 2 / 5;
}

h1 {
    font-size:50px ;
}

p {
    grid-row: 3;
    grid-column: 2 / 5;
    font-size: 25px;
}

.nav {
    grid-row: 4;
    grid-column: 2 / 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container {
  width: 90%;   /* se adapta al ancho */
  padding: 2em; /* relativo al texto */
}
.container {
  width: 90%;   /* se adapta al ancho */
  padding: 2em; /* relativo al texto */
}




